*{
    margin: 0;
}
/* aqui fica o grid  */
body{
    display: grid;
    grid-template-areas: 
    "cc cc cc "
    "mo mo ld "
    "pz pz pz "
    ;
    gap: 10px;
    background-color: rgb(139, 69, 19);
}

body{
    grid-template-columns: auto auto 40%;
    grid-template-rows: auto auto auto;
}

.cabeca{
    grid-area: cc;
}

.lado{
    grid-area: ld;
    
}

.meio{
    grid-area: mo;
}

.pezinho{
    grid-area: pz;
}

.cabeca, .pezinho, .lado, .meio{
    padding: 15px;
}
/*--------------------------------------------------*/
.cabeca, .pezinho, .lado, .meio{
    background-color: rgb(245, 222, 179);
}

/* img do main. */
main img{
    width: 40%;
    height: auto;
}
/* IMG header */
header img{
    width: 40%;
    height: auto;
}

header h1{
    text-align: center;
}

footer p{
    text-align: center;
}