*{
    margin: 0;
}

body{
    display: grid;
    grid-template-areas: 
    "cc cc cc "
    "ld mo mo "
    "pz pz pz "
    ;
    gap: 10px;
    background-color: rgb(0, 174, 255);
}

body{
    grid-template-columns: 20% auto auto;
    grid-template-rows: auto auto auto;
}

.cabeca{
    grid-area: cc;
    background-color: brown;
}

.lado{
    grid-area: ld;
    background-color: blueviolet;
}

.meio{
    grid-area: mo;
    background-color: blue;
}

.pezinho{
    grid-area: pz;
    background-color: rgb(0, 255, 0);
}

.cabeca, .pezinho, .lado, .meio{
    padding: 15px;
}

/*--------------------------------------------------*/

main img{
    width: 40%;
    height: auto;
}

header h1{
    text-align: center;
}

footer p{
    text-align: center;
}